name: Azure Static Web Apps CI/CD (disabled)

on:
  workflow_dispatch:

jobs:
  disabled:
    runs-on: ubuntu-latest
    steps:
      - name: Disabled
        run: echo "Workflow desabilitado temporariamente"
